/* Sets the zone header colour for both landing page and article subpages */
/* .zone .zone-landing-header, .zone #main-header, .zone .zone-article-header { background-color: #6A7B86 } */
/* .redesign body { background-color: #6A7B86 } */

/* Sets the image for landing and article subpages.  You may want to use different images so separate the selectors as needed 
.zone-landing-header .zone-image, .zone-article-header .zone-image { background-image: url(https://mdn.mozillademos.org/files/6153/persona-logo-250.png); background-repeat: no-repeat; background-position: center center; padding-right:100px;}*/

div.zone-callout {
  margin-bottom: 10px;
}

div.zone-callout ul {
  margin-bottom: 0;
  padding-top:5px;
}

div.zone-callout li {
  padding: 5px;
}

hr {
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 1px;
  color: #5E88B0;
  margin: 1em auto 2em auto;
  width: 90%;
}

.addon-sdk-api-name {
  background-color: rgba(212, 221, 228, 0.15);
  padding: 3px;
}

dd>dl.reference-values {
  padding-left: 40px;
}

li.webextension-api-sidebar {
  background-color: #F4F7F8;
}

